@import 'leaflet/dist/leaflet.css';

.mapify-header{
    text-align: center;
    font-family:Arial, Helvetica, sans-serif
}
  
.latitude .lognitude{
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 0;
}

.map-container{
    width:100%;
    height:400px;
}